* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*navigation*/

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    transition: 0.800s ease;
    height: 30px;
    padding: 7px;
    opacity: 0.8;
}

nav a {
    padding: 60px;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: bold;
    transition: 0.5s;
}

nav a:hover:before {
    transform: scale(1);
}

nav a:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scale(0);
    transition: 0.5s;
}

nav a:hover::after {
    transform: scale(1);
}

nav a:hover {
    letter-spacing: 5px;
}

.bodyform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../ressources/Images/About/backcontact2.jpg);
    background-size: cover;
    height: 100vh;
}

.containerform {
    width: 80%;
    padding: 20px;
}

.containerform h2 {
    width: 100%;
    color: #e58e26;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.containerform .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.containerform .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    ;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.containerform .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #e58e26;
}

.containerform .row100 .inputBox input,
.containerform .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.containerform .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.containerform .row100 .inputBox input:focus+.text,
.containerform .row100 .inputBox input:valid+.text {
    top: -35px;
    left: -10px;
}

.containerform .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #e58e26;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.containerform .row100 .inputBox input:focus~.line,
.containerform .row100 .inputBox input:valid~.line {
    height: 100%;
}

.containerform .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.containerform .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.containerform .row100 .inputBox textarea:focus+.text,
.containerform .row100 .inputBox textarea:valid+.text {
    top: -35px;
    left: -10px;
}

.containerform .row100 .inputBox textarea:focus~.line,
.containerform .row100 .inputBox textarea:valid~.line {
    height: 100%;
}

input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #e58e26;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}